:root {
  --primary-navyblue: #2e2f42;
  --primary-slate: #434455;
  --primary-white: #fff;
  --primary-iris: #4d5ae5;
  --primary-cloud: #f4f4fd;
  --primary-cornflower: #e7e9fc;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
img {
  display: block;
}
.link {
  text-decoration: none;
}
.list {
  list-style: none;
}
/* Header */
.page-header {
  background: var(--white, #fff);
  border-bottom: 1px solid #e7e9fc;
}
.container-head {
  display: flex;
  align-items: center;
}
.container {
  width: 1158px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
.header-nav {
  display: flex;
  align-items: center;
}
body {
  font-family: "Raleway", sans-serif;
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
.studio {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  display: inline-block;
  margin-bottom: 16px;
  margin-right: 76px;
}
.pre-studio {
  color: var(--navyblue, #2e2f42);
}
.pre-studio-foot {
  color: var(--cloud, #f4f4fd);
}
.header-conteiner .link:hover,
.header-conteiner .link:focus {
  color: #404bbf;
}
.portf-sect {
  padding-top: 96px;
  padding-bottom: 120px;
}
.h-main {
  list-style: none;
}
/* Header list */
.header-conteiner-list {
  color: var(--navyblue, #2e2f42);
  font-family: Roboto;
  font-size: 16px;
  letter-spacing: 0.02em;
  font-weight: 500;
  line-height: 24px;
  padding-top: 24px;
  padding-bottom: 24px;
}
.header-conteiner {
  display: flex;
  gap: 40px;
}
.contacts-conteiner {
  display: flex;
  gap: 40px;
}
.address {
  font-style: normal;
}
/* contacts */
.contacts-list {
  color: var(--slate, #434455);
  font-size: 16px;
  letter-spacing: 0.02em;
  font-weight: 400;
  line-height: 24px;
}
.contacts-conteiner .link:hover,
.contacts-conteiner .link:focus {
  color: #404bbf;
}
.buttons .link:hover,
.buttons .link:focus {
  color: #404bbf;
}
.button-ground:hover,
.button-ground:focus {
  background-color: #404bbf;
}
.button-ground-pf:hover,
.button-ground-pf:focus {
  background-color: #404bbf;
  color: #ffffff;
  border: 1px solid transparent;
}
.buttons {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}
.main-content {
  background: #fff;
}
.sect {
  background: #2e2f42;
  line-height: 1.07;
  text-align: center;
  padding-top: 188px;
  padding-bottom: 188px;
}
.sect-two {
  padding-top: 120px;
  padding-bottom: 120px;
}
.sect-three {
  padding-bottom: 120px;
}
.sect-title {
  color: var(--white, #fff);
  max-width: 496px;
  font-family: Roboto;
  font-size: 56px;
  text-align: center;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 1.12px;
}
.button-ground-pf {
  font-family: "Roboto", sans-serif;
  background: #f4f4fd;
  color: #4d5ae5;
  letter-spacing: 0.04em;
  line-height: 1.5;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 24px;
  padding-right: 24px;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
}
.button-ground {
  background: var(--iris, #4d5ae5);
  cursor: pointer;
  color: var(--white, #fff);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  display: block;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.64px;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
}
.job-conteiner {
  display: flex;
  gap: 24px;
}
.job-conteiner-list {
  flex-basis: calc((100% - 72px) / 4);
}
.job-conteiner-list-title {
  color: var(--navyblue, #2e2f42);
  font-family: Roboto;
  font-size: 20px;
  margin-bottom: 8px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.4px;
}
.job-text {
  color: var(--slate, #434455);

  font-size: 16px;

  line-height: 24px;
  letter-spacing: 0.32px;
}
.work {
  color: var(--navyblue, #2e2f42);
  font-size: 36px;
  text-align: center;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.our-team {
  color: var(--navyblue, #2e2f42);
  font-size: 36px;
  text-align: center;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.team {
  color: var(--navyblue, #2e2f42);
  background-color: #ffffff;
  font-size: 36px;
  text-align: center;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  border-radius: 0px 0px 4px 4px;
  flex-basis: calc((100% - 72px) / 4);
}
.mate {
  padding-top: 32px;
  padding-bottom: 32px;
}
.teams {
  display: flex;
  gap: 24px;
}
.teams-list {
  flex-basis: calc((100% - 3 * 16px) / 3);
}
.teammates {
  display: flex;
  gap: 24px;
}
.teammate {
  color: var(--navyblue, #2e2f42);
  font-family: Roboto;
  font-size: 20px;
  text-align: center;
  margin-bottom: 8px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.4px;
}
.teammatet {
  color: var(--navyblue, #2e2f42);
  margin-bottom: 8px;
  font-size: 20px;

  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.teammate-job {
  color: var(--slate, #434455);
  text-align: center;
  text-align: center;
  font-size: 16px;

  line-height: 24px;
  letter-spacing: 0.32px;
}
.section {
  background-color: #f4f4fd;
  padding-top: 120px;
  padding-bottom: 120px;
}
/* Footer */
.page-footer {
  background: #2e2f42;
  padding-top: 100px;
  padding-bottom: 100px;
}
.about-footer {
  color: var(--cloud, #f4f4fd);

  font-size: 16px;
  max-width: 264px;
  line-height: 24px;
  letter-spacing: 0.32px;
}
.portf-pict {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.portf-pict-div {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.picto-portf {
  width: calc ((100% - 48px) / 3);
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul,
ol {
  margin: 0;
  padding: 0;
}
