:root {
  --primary-navyblue: #2e2f42;
  --primary-slate: #434455;
  --primary-white: #fff;
  --primary-iris: #4d5ae5;
  --primary-cloud: #f4f4fd;
  --primary-cornflower: #e7e9fc;
}
.link {
  text-decoration: none;
}
.list {
  list-style: none;
}
/* Header */
.page-header {
  background: var(--white, #fff);
}
body {
  font-family: "Raleway", sans-serif;
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
.studio {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  display: inline-block;
  margin-bottom: 16px; 
}
.pre-studio {
  color: var(--navyblue, #2e2f42);
}
.pre-studio-foot {
  color: var(--cloud, #f4f4fd);
}
.header-conteiner .link:hover,
.header-conteiner .link:focus {
  color: #404bbf;
}
.h-main {
  list-style: none;
}
/* Header list */
.header-conteiner-list {
  color: var(--navyblue, #2e2f42);
  font-family: Roboto;
  font-size: 16px;
  letter-spacing: 0.02em;
  font-weight: 500;
  line-height: 24px;
}
.address {
  font-style: normal;
}
/* contacts */
.contacts-list {
  color: var(--slate, #434455);
  font-size: 16px;
  letter-spacing: 0.02em;
  font-weight: 400;
  line-height: 24px;
}
.contacts-conteiner .link:hover,
.contacts-conteiner .link:focus {
  color: #404bbf;
}
.buttons .link:hover,
.buttons .link:focus {
  color: #404bbf;
}
.button-ground:hover,
.button-ground:focus {
  background-color: #404bbf;
}
.button-ground-pf:hover,
.button-ground-pf:focus {
  background-color: #404bbf;
  color: #ffffff;
}

.main-content {
  background: #fff;
}
.sect {
  background: #2e2f42;
  line-height: 1.07;
  text-align: center;
}
.sect-title {
  color: var(--white, #fff);

  font-family: Roboto;
  font-size: 56px;
  text-align: center;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 1.12px;
}
.button-ground-pf {
  font-family: "Roboto", sans-serif;
  background: #f4f4fd;
  color: #4d5ae5;
  letter-spacing: 0.04em;
  line-height: 1.5;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}
.button-ground {
  background: var(--iris, #4d5ae5);
  cursor: pointer;
  color: var(--white, #fff);
  font-family: "Roboto", sans-serif;
  font-size: 16px;

  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.64px;
}

.job-conteiner-list-title {
  color: var(--navyblue, #2e2f42);
  font-family: Roboto;
  font-size: 20px;

  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.4px;
}
.job-text {
  color: var(--slate, #434455);

  font-size: 16px;

  line-height: 24px;
  letter-spacing: 0.32px;
}
.work {
  color: var(--navyblue, #2e2f42);
  font-size: 36px;
  text-align: center;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
}
.our-team {
  color: var(--navyblue, #2e2f42);
  background-color: #ffffff;
  font-size: 36px;
  text-align: center;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
}
.team {
  color: var(--navyblue, #2e2f42);
  background-color: #ffffff;
  font-size: 36px;
  text-align: center;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
}
.teammate {
  color: var(--navyblue, #2e2f42);
  font-family: Roboto;
  font-size: 20px;

  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.4px;
}
.teammatet {
  color: var(--navyblue, #2e2f42);

  font-size: 20px;

  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.teammate-job {
  color: var(--slate, #434455);
  text-align: center;

  font-size: 16px;

  line-height: 24px;
  letter-spacing: 0.32px;
}
.section {
  background-color: #f4f4fd;
}
/* Footer */
.page-footer {
  background: #2e2f42;
  padding: 100px 0;
}
.about-footer {
  color: var(--cloud, #f4f4fd);

  font-size: 16px;
 max-width: 264px;
  line-height: 24px;
  letter-spacing: 0.32px;
}
